<h1> aLL zE cAtS </h1> 
<a href="<%= new_cat_url %>">Add a new cat</a>
<ul>
    <% @cats.each do |cat| %>
    <li>
        <h2> <%= cat.name %> </h2>
        <body> <%= cat.description %> </body>
        <h4><a href="<%= cat_url(cat) %>">show <%= cat.name %> </a> </h4>
    </li>
    <% end %>
</ul>